In [2]:
import pandas as pd

df = pd.read_excel(r"C:\Users\agata\Downloads\GSAF5.xls")

df.head()

,Date,Year,Type,Country,State,Location,Activity,Name,Sex,Age,...,Species,Source,pdf,href formula,href,Case Number,Case Number.1,original order,Unnamed: 21,Unnamed: 22
0,15 Oct-2023,2023.0,Unprovoked,USA,Hawaii,"Hanalei Bay, Kauai",Surfing,Kevin Kanehe,M,50,...,"Tiger shark, 12' to 15'","Kaua'i Now, 10/15/2023",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,13 Oct-2023,2023.0,Questionable,USA,California,"Linda Mar, Pacific State Beach, San Mateo County",Surfing,male,M,52,...,NaN,CBS News. 10/13/2023,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,02 Oct-2023,2023.0,Unprovoked,USA,Hawaii,"Paia, Maui",Surfing,K. Cole,F,45,...,NaN,"The Beat of Hawaii, 10/2/2023",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,01 Oct-2023,2023.0,Unprovoked,AUSTRALIA,South Australia,Beachport,Swimming,Pamela Cook,F,64,...,NaN,"B. Myatt, GSAF",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,01 Oct-2023,2023.0,Unprovoked,USA,California,"Wildcat Beach, Marin County",Swimming,Felix Louis N'Jai,M,52,...,NaN,"SF Chronicle, 10/10/2023",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [3]:
df.columns

Index(['Date', 'Year', 'Type', 'Country', 'State', 'Location', 'Activity',
       'Name', 'Sex', 'Age', 'Injury', 'Unnamed: 11', 'Time', 'Species ',
       'Source', 'pdf', 'href formula', 'href', 'Case Number', 'Case Number.1',
       'original order', 'Unnamed: 21', 'Unnamed: 22'],
      dtype='object')